@import "styles/colors.scss";
@import "styles/fonts.scss";

.container {
  align-items: flex-start;
  border: 3px solid $fill_blue;
  border-radius: 5px;
  box-sizing: border-box;

  display: block;
  max-width: 840px;
  width: 100%;
  height: 280px;

  .info_name {
    @include text_description($fill_white);
  }

  .info_content {
    @include headline3($fill_white);
  }
}
