.main {
    font-family: 'inter';
}

.main__about {
    margin: 30% 5% 0px 10%;
}

.main__about_title {
    font-weight: 700;
    font-size: 2.3rem;
    line-height: 58px;
}

.main__about_text {
    display: block;
    width: 90%;
    margin: 0;
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 130%;
    margin-top: 60px;
}

.main_title-advantages {
    margin: 30% 10% 40px 10%;
    font-weight: 700;
    font-size: 2.3rem;
    line-height: 58px;
}

.advantages-buisnes {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.advantages__buisnes {
    margin: 0;
    width: 48%;
    margin-top: 60px;
    border: 5px solid #71CEF0;
    padding: 40px 80px;
}

.advantages__buisnes_title {
    margin-bottom: 25px;
    font-weight: 700;
    font-size: 2rem;
}

.advantages__buisnes_item {
    margin-left: 18px;
    margin-bottom: 10px;
}

.advantages__buisnes_item:nth-child(4) {
    margin-bottom: 40px;
}

.advantages__buisnes_button {
    width: 200px;
    height: 60px;
    background-color: black;
    color: #ffffff;
    border: black;
    font-size: 1rem;
    line-height: 22px;
    font-weight: 600;
    border-radius: 5px;
    transition: linear all 0.2s;
    cursor: pointer;
}

.advantages__buisnes_button:hover {
    color: #ffffff;
    background-color: #71CEF0;
    border: #71CEF0;
    transition: ease-in-out all 0.2s;
}

.advantages__image {
    margin: 0;
    object-fit: cover;
}

.advantages-provider {
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 60px;
}

.advantages__provider {
    width: 48%;
    margin-top: 60px;
    border: 5px solid #71CEF0;
    padding: 40px 80px;
}

.advantages__provider_title {
    margin-bottom: 25px;
    font-weight: 700;
    font-size: 2rem;
}

.advantages__provider_item {
    margin-left: 18px;
    margin-bottom: 10px;
}

.advantages__provider_item:nth-child(3) {
    margin-bottom: 40px;
}

.provider__image {
    margin: 0;
    object-fit: cover;
}

@media screen and (max-width: 1200px){
    .provider__image{

        display: none;
    }
    .advantages__image {
        display: none;
    }
    .advantages-provider {
        margin: 0;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 60px;
    }
    .advantages__provider {
        width: 80%;
        margin-top: 5%;
        border: 5px solid #71CEF0;
        padding: 40px 80px;
    }
    .advantages-buisnes {
        margin: 0;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .advantages__buisnes {
        width: 80%;
        margin-top: 60px;
        border: 5px solid #71CEF0;
        padding: 40px 80px;
    }
}
@media screen and (max-width: 1024px){

    .advantages__provider {
        padding: 40px 45px;
    }
    .advantages__buisnes {
        padding: 40px 45px;
    }
}


@media screen and (max-width: 375px){

    .advantages__provider {
        padding: 40px 20px;
    }
    .advantages__buisnes {
        padding: 40px 20px;
    }
    .main_title-advantages {
        margin: 30% 10% 30px 10%;
        font-size: 2rem;
    }
    .main__about_title {
        font-size: 2rem;
    }
}

