@import "../../../../styles/colors.scss";
@import "../../../../styles/fonts.scss";

  .container {
      display: block;
      padding-inline: 50px;
      padding-top: 10px;
      padding-bottom: 10px;
      background-color: $fill_blue;
      border-radius: 5px;
      margin-bottom: 50px;

    .info_name {
      @include text_description($fill_white);
      width: 20%;
      display: inline-block;
      margin-bottom: 10px;
      margin-top: 10px;
    }

    .info_content {
      @include headline3($fill_white);
      width: 80%;
      display: inline-block;
      margin-bottom: 10px;
      margin-top: 10px;
    }
  }
