.container {
  margin-top: 20px;
}

.list {
  list-style-type: none;
  padding-left: 0;

  margin: 0;
}

.item {
  border-radius: 16px;
  box-shadow: 0px 20px 24px -24px rgba(71, 82, 107, 0.10), 0px 2px 6px 0px rgba(136, 148, 171, 0.20);
  padding: 20px;
}

.item p {
  margin-top: 0;
}